@tailwind base;
@tailwind components;
@tailwind utilities;




/* Custom animations */
@keyframes scroll {
    0% { transform: translateX(0); }
    100% { transform: translateX(-50%); }
}

.animate-scroll {
    display: flex;
    width: max-content;
    animation: scroll 25s linear infinite;
}


.brand-logo {
    height: 60px;
    width: auto;
    object-fit: contain;

    filter: brightness(0) invert(1);
    opacity: 0.7;
    transition: all 0.4s ease;
}

.brand-logo:hover {
    opacity: 1;
    filter: brightness(1) invert(0); /* Kembali ke warna asli saat hover */
    transform: scale(1.1);
}


.fnatic-mask {
    mask-image: linear-gradient(
        to right,
        transparent,
        black 10%,
        black 90%,
        transparent
    );
    -webkit-mask-image: linear-gradient(
        to right,
        transparent,
        black 10%,
        black 90%,
        transparent
    );
}

/* Animasi tetap lancar */
.animate-scroll {
    display: flex;
    width: max-content;
    animation: scroll 35s linear infinite; /* Kecepatan lambat lebih terlihat mewah */
}

/* Pause saat kursor di atas slider */
.fnatic-mask:hover .animate-scroll {
    animation-play-state: paused;
}

@keyframes scroll {
    0% { transform: translateX(0); }
    100% { transform: translateX(-50%); }
}
